@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';

body {
    background-color: #000;
    font-family: 'Oxanium', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
}

body, html {
    height: 100%;
    margin: 0;
    perspective: 1000px;
}

.crt {
    position: relative;
    overflow: hidden;
    background: black;
}

/* Scanlines */
.crt::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        to bottom,
        rgba(89, 1, 1, 0.2) 0,
        rgba(165, 183, 1, 0.39) 1px,
        transparent 1px,
        transparent 3px
    );
    pointer-events: none;
    z-index: 1;
}

/* Flicker overlay */
.crt::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(31, 35, 0, 0.39);
    animation: flicker 0.15s infinite;
    pointer-events: none;
    z-index: 2;
}

@keyframes flicker {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.crt-inner {
    position: relative;
    z-index: 3;
    padding: 1rem;
    background: radial-gradient(ellipse at center, rgba(190, 154, 0, 0) 60%, rgba(0,0,0,0.6) 100%);
}

.hover-background {
    background: linear-gradient(to right, #282800 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.15s ease 0.4s;
    animation-delay: 1s;
}

.hover-background:hover {
    background-position: left;
}

button:focus:before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 110%;
    height: 110%;
    background-color: deepskyblue;
    clip: revert;

}
